<div class="col-6 mt-5 m-auto border p-4">
  <h2>Dynamic Form</h2>
  <ng-container *ngIf="formData">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let input of formData">
      <div *ngIf="input.type == 'textfield' "class="form-group">
        <label class="my-2">{{ input.name }} {{input.required ? '*': ''}} </label>
        <input type="text" placeholder="Enter {{ input.name }}" class="form-control" [formControlName]="input.name">
        <span class="red-error" *ngIf="input.required && form.touched">{{input.name}} Number is
          required</span>
      </div>
      <div *ngIf="input.type == 'email' "class="form-group">
        <label class="my-2">{{ input.name }} {{input.required ? '*': ''}} </label>
        <input type="email" placeholder="Enter {{ input.name }}" class="form-control" [formControlName]="input.name" [required]="input.required">
      </div>
      <div *ngIf="input.type == 'number' "class="form-group">
        <label class="my-2">{{ input.name }} {{input.required ? '*  18-80': ''}}</label>
        <input type="number" placeholder="Enter {{ input.name }}" min="{{ input.min }}" max="{{ input.max }}" class="form-control"  [formControlName]="input.name">
      </div>
      <div *ngIf="input.type == 'dropdown'" class="form-group">
        <label class="my-2">{{ input.name }} {{input.required ? '*': ''}}</label>
        <select class="form-select" aria-label="Default select example" [formControlName]="input.name">
          <option *ngFor="let option of input.options" value="{{ option.value }}">{{ option.text }}</option>
        </select>
      </div>
      <div *ngIf="input.type == 'password'" class="form-group">
        <label class="my-2">{{ input.name }} {{input.required ? '*': ''}}</label>
        <input type="password" placeholder="Enter {{ input.name }}" class="form-control" [formControlName]="input.name">
      </div>
    </ng-container>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </ng-container>
</div>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col" *ngFor="let header of userHeaders;">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of userArray;">
      <td>{{row.Id}} </td>
      <td>{{row.InternalId}} </td>
      <td>{{row.Type}} </td>
      <td>{{row.Billing}} </td>
      <td>{{row.Email}} </td>
      <td>{{row.Provider}} </td>
      <td>{{row.State}} </td>
      <td>{{row.Trial}} </td>
    </tr>
  </tbody>
</table>
